Steam Games Data Cleaning

Exploración del dataset y limpieza

In [3]:
# Importacion de librerias
import json  
import pandas as pd
import numpy as np
import re
import ast
import warnings
warnings.filterwarnings('ignore')

Esto convertirá nuestro archivo JSON en un marco de datos de pandas.

In [4]:
rows = []
with open("australian_users_items.json", encoding='MacRoman') as f:
    for line in f.readlines():
        rows.append(ast.literal_eval(line))

Los campos JSON se importaron como un array en los valores de la columna Items

In [5]:
#Normalizando las filas de la Columna 'items'
data = pd.json_normalize(rows, record_path=['items'], meta=['steam_id','items_count','user_id','user_url'] )
data.head(10)

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
5,60,Ricochet,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
6,70,Half-Life,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
7,130,Half-Life: Blue Shift,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
8,300,Day of Defeat: Source,4733,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
9,240,Counter-Strike: Source,1853,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...

In [6]:
data.shape

(5153209, 8)

In [7]:
print(f"Numero de filas duplicadas = {data.duplicated().sum()}")

Numero de filas duplicadas = 59104

In [8]:
data = data.drop_duplicates()
data.reset_index(drop=True,inplace=True)

In [9]:
print(f"Numero de filas duplicadas = {data.duplicated().sum()}")

Numero de filas duplicadas = 0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094105 entries, 0 to 5094104
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   item_name         object
 2   playtime_forever  int64
 3   playtime_2weeks   int64
 4   steam_id          object
 5   items_count       object
 6   user_id           object
 7   user_url          object
dtypes: int64(2), object(6)
memory usage: 310.9+ MB

In [11]:
data['item_name'] = data['item_name'].str.title()

In [12]:
data.tail(10)

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
5094095,519170,The Journey Home,0,0,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...
5094096,358390,Stargunner,0,0,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...
5094097,521570,You Have 10 Seconds 2,0,0,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...
5094098,304930,Unturned,677,677,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094099,227940,Heroes & Generals,43,43,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094100,346330,Brainbread 2,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094101,373330,All Is Dust,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094102,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094103,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094104,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

Número de datos ausentes por columna

In [13]:
data.isna().sum().sort_values()

item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
steam_id            0
items_count         0
user_id             0
user_url            0
dtype: int64

In [14]:
data['items_count'] = pd.to_numeric(data['items_count'], errors='coerce')

In [15]:
data.isna().sum().sort_values()

item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
steam_id            0
items_count         0
user_id             0
user_url            0
dtype: int64

In [16]:
data = data.sort_values('item_id')

In [17]:
data = data.reset_index(drop=True)

In [18]:
data.head(5)

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,10,Counter-Strike,0,0,76561198046777634,78,76561198046777634,http://steamcommunity.com/profiles/76561198046...
2,10,Counter-Strike,0,0,76561198011037361,406,ceige,http://steamcommunity.com/id/ceige
3,10,Counter-Strike,0,0,76561198040020694,189,xXPOTATOSLADXx,http://steamcommunity.com/id/xXPOTATOSLADXx
4,10,Counter-Strike,3464,0,76561198045086740,44,KinGJaxeR,http://steamcommunity.com/id/KinGJaxeR

In [19]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("steamItems.pkl","wb")
pickle.dump(data, pickle_out)
pickle_out.close()