In [1]:
# Importacion de librerias
import json  
import pandas as pd
import numpy as np
import re
import ast
import pickle
import warnings
warnings.filterwarnings('ignore')

In [2]:
with open("../data/steamGames.pkl", "rb") as file1:
    dataGames = pickle.load(file1)
    
with open("../data/steamReviews.pkl", "rb") as file2:
    dataReviews = pickle.load(file2)
    
with open("../data/steamItems.pkl", "rb") as file3:
    dataItems = pickle.load(file3)

In [3]:
dataUser = pd.merge(dataItems,dataReviews,on=['user_id','item_id','user_url'],how='outer')

## DataFrame UserData

In [69]:
dfGames=dataGames[['item_id','price']]
dfUser =dataUser[['item_id','user_id','recommend','posted']]
dfUserData = pd.merge(dfUser,dfGames,on='item_id',how='outer')

dfUserData = dfUserData.dropna(subset=['user_id'])
dfUserData = dfUserData.reset_index(drop=True)
dfUserData = dfUserData.drop_duplicates()
dfUserData.reset_index(drop=True,inplace=True)
dfUserData['price'] = dfUserData['price'].replace(np.nan, 0)

In [70]:
dfUserData.shape

(5108327, 5)

In [71]:
dfUserData

        item_id            user_id recommend      posted  price
0            10  76561197970982479       NaN         NaN   9.99
1            10  76561198046777634       NaN         NaN   9.99
2            10              ceige       NaN         NaN   9.99
3            10     xXPOTATOSLADXx       NaN         NaN   9.99
4            10          KinGJaxeR       NaN         NaN   9.99
...         ...                ...       ...         ...    ...
5108322   91333        LucasArthur      True  2015-04-02   0.00
5108323   92500       XUXU23456789      True  2013-12-14   0.00
5108324   92500          L0RDVAD3R      True  2013-06-25   0.00
5108325   92500      NinjaCowboy96     False  2015-03-08   0.00
5108326   98421       wackytobaccy      True               0.00

[5108327 rows x 5 columns]

In [72]:
dfUserData=dfUserData.dropna(subset=['user_id'])

In [73]:
dfUserData = dfUserData.reset_index(drop=True)

In [74]:
dfUserData.shape

(5108327, 5)

In [75]:
dfUserData=dfUserData.dropna(subset=['item_id'])

In [76]:
dfUserData = dfUserData.reset_index(drop=True)

In [77]:
dfUserData.shape

(5108327, 5)

In [78]:
dfUserData=dfUserData.dropna(subset=['recommend'])

In [79]:
dfUserData = dfUserData.reset_index(drop=True)

In [81]:
dfUserData.isna().sum()

item_id      0
user_id      0
recommend    0
posted       0
price        0
dtype: int64

In [82]:
dfUserData.shape

(58431, 5)

In [83]:
print(f"Numero de filas duplicadas = {dfUserData.duplicated().sum()}")

Numero de filas duplicadas = 0

In [85]:
import pickle
pickle_out = open("dataUser.pkl","wb")
pickle.dump(dfUserData, pickle_out)
pickle_out.close()

In [62]:
dataUser

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url,posted,recommend,sentiment_analysis
0,10,Counter-Strike,6.0,0.0,76561197970982479,277.0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,NaN,NaN
1,10,Counter-Strike,0.0,0.0,76561198046777634,78.0,76561198046777634,http://steamcommunity.com/profiles/76561198046...,NaN,NaN,NaN
2,10,Counter-Strike,0.0,0.0,76561198011037361,406.0,ceige,http://steamcommunity.com/id/ceige,NaN,NaN,NaN
3,10,Counter-Strike,0.0,0.0,76561198040020694,189.0,xXPOTATOSLADXx,http://steamcommunity.com/id/xXPOTATOSLADXx,NaN,NaN,NaN
4,10,Counter-Strike,3464.0,0.0,76561198045086740,44.0,KinGJaxeR,http://steamcommunity.com/id/KinGJaxeR,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5108345,99900,NaN,NaN,NaN,NaN,NaN,76561198092798425,http://steamcommunity.com/profiles/76561198092...,2013-12-29,True,1.0
5108346,99900,NaN,NaN,NaN,NaN,NaN,C14M8S,http://steamcommunity.com/id/C14M8S,2014-05-09,False,2.0
5108347,99900,NaN,NaN,NaN,NaN,NaN,76561198045344356,http://steamcommunity.com/profiles/76561198045...,2011-09-09,True,2.0
5108348,99900,NaN,NaN,NaN,NaN,NaN,76561198046474248,http://steamcommunity.com/profiles/76561198046...,2014-10-06,False,1.0
5108349,99910,NaN,NaN,NaN,NaN,NaN,Gatsukama,http://steamcommunity.com/id/Gatsukama,2011-12-28,True,2.0

## DataFrame GÃ©nero

In [105]:
dfUser =dataUser[['item_id','playtime_forever']]
dfGames=dataGames[['item_id','genres']]
dfGenres = pd.merge(dfUser,dfGames,on='item_id',how='outer')

In [115]:
dfGenres.isna().sum()

item_id             0
playtime_forever    0
genres              0
dtype: int64

In [107]:
dfGenres = dfGenres.dropna(subset=['genres'])
dfGenres = dfGenres.reset_index(drop=True)

In [112]:
dfGenres = dfGenres.dropna(subset=['playtime_forever'])
dfGenres = dfGenres.reset_index(drop=True)

In [113]:
print(f"Numero de filas duplicadas = {dfUserData.duplicated().sum()}")

Numero de filas duplicadas = 0

In [117]:
dfGenres.shape

(9805136, 2)

In [116]:
dfGenres.drop(columns=['item_id'], inplace=True)

In [118]:
dataGenres = dfGenres.groupby('genres').playtime_forever.agg('sum')

In [119]:
dataGenres.shape

(21,)

In [120]:
import pickle
pickle_out = open("dataGenres.pkl","wb")
pickle.dump(dataGenres, pickle_out)
pickle_out.close()

## DataFrame Usuario GÃ©nero

In [185]:
dfUser =dataUser[['item_id','user_id','playtime_forever','user_url']]
dfGames=dataGames[['item_id','genres']]
dfUserGenres = pd.merge(dfUser,dfGames,on='item_id',how='outer')

In [191]:
dfUserGenres.isna().sum()

item_id             0
user_id             0
playtime_forever    0
user_url            0
genres              0
dtype: int64

In [190]:
dfUserGenres = dfUserGenres.dropna(subset=['playtime_forever'])
dfUserGenres = dfUserGenres.reset_index(drop=True)

In [187]:
dfUserGenres = dfUserGenres.dropna(subset=['user_id'])
dfUserGenres = dfUserGenres.reset_index(drop=True)

In [188]:
dfUserGenres = dfUserGenres.dropna(subset=['genres'])
dfUserGenres = dfUserGenres.reset_index(drop=True)

In [192]:
dataUserGenre= dfUserGenres.loc[dfUserGenres.groupby(['user_id']).playtime_forever.agg('sum')]

In [193]:

dataUserGenre = dataUserGenre.reset_index(drop=True)

In [194]:
dataUserGenre

,item_id,user_id,playtime_forever,user_url,genres
0,105600,76561198087081945,36.0,http://steamcommunity.com/profiles/76561198087...,Action
1,104900,1233zaazen,628.0,http://steamcommunity.com/id/1233zaazen,Indie
2,102840,76561198069902636,0.0,http://steamcommunity.com/profiles/76561198069...,Indie
3,104900,76561198060788031,8.0,http://steamcommunity.com/profiles/76561198060...,Adventure
4,113020,TheKingOfNintendos,6.0,http://steamcommunity.com/id/TheKingOfNintendos,Adventure
...,...,...,...,...,...
68648,10,kr0akey,23.0,http://steamcommunity.com/id/kr0akey,Action
68649,113020,76561198094167080,47.0,http://steamcommunity.com/profiles/76561198094...,Adventure
68650,10,76561198089529136,0.0,http://steamcommunity.com/profiles/76561198089...,Action
68651,104200,HENRYYA,0.0,http://steamcommunity.com/id/HENRYYA,Adventure
68652,10180,wake-up,3934.0,http://steamcommunity.com/id/wake-up,Action

In [198]:
print(f"Numero de filas duplicadas = {dataUserGenre.duplicated().sum()}")

Numero de filas duplicadas = 0

In [196]:
# Remover registros duplicados

dataUserGenre = dataUserGenre.drop_duplicates()
dataUserGenre.reset_index(drop=True,inplace=True)

In [197]:
dataUserGenre

,item_id,user_id,playtime_forever,user_url,genres
0,105600,76561198087081945,36.0,http://steamcommunity.com/profiles/76561198087...,Action
1,104900,1233zaazen,628.0,http://steamcommunity.com/id/1233zaazen,Indie
2,102840,76561198069902636,0.0,http://steamcommunity.com/profiles/76561198069...,Indie
3,104900,76561198060788031,8.0,http://steamcommunity.com/profiles/76561198060...,Adventure
4,113020,TheKingOfNintendos,6.0,http://steamcommunity.com/id/TheKingOfNintendos,Adventure
...,...,...,...,...,...
57883,10500,76561198035860222,0.0,http://steamcommunity.com/profiles/76561198035...,Strategy
57884,10,kr0akey,23.0,http://steamcommunity.com/id/kr0akey,Action
57885,113020,76561198094167080,47.0,http://steamcommunity.com/profiles/76561198094...,Adventure
57886,104200,HENRYYA,0.0,http://steamcommunity.com/id/HENRYYA,Adventure
57887,10180,wake-up,3934.0,http://steamcommunity.com/id/wake-up,Action

In [200]:
import pickle
pickle_out = open("dataUserGenre.pkl","wb")
pickle.dump(dataUserGenre, pickle_out)
pickle_out.close()

## DataFrame Developer

In [581]:
dfUser =dataUser[['item_id']]
dfGames=dataGames[['item_id','price','release_year','developer']]
dfDeveloper = pd.merge(dfUser,dfGames,on='item_id',how='outer')

In [529]:
dfDeveloper.isna().sum()

item_id         0
price           0
release_year    0
developer       0
dtype: int64

In [584]:
dfDeveloper = dfDeveloper.dropna(subset=['developer'])

In [585]:
dfDeveloper = dfDeveloper.reset_index(drop=True)

In [586]:
dfDeveloper = dfDeveloper.dropna(subset=['release_year'])

In [587]:
dfDeveloper = dfDeveloper.reset_index(drop=True)

In [588]:
dfDeveloper['release_year']=dfDeveloper['release_year'].astype(str)

In [589]:
dfDeveloper = dfDeveloper.reset_index(drop=True)

De aqui saldran 3 datasets

In [590]:
dataYear= dfDeveloper.groupby(['release_year','developer']).agg({'item_id': 'nunique'}).reset_index()

In [595]:
dataDev= dfDeveloper.groupby(['developer']).agg({'item_id': 'nunique'}).reset_index()

In [597]:
dataFreeYear= dfDeveloper[dfDeveloper['price']==0].groupby(['release_year','developer']).agg({'item_id': 'nunique'}).reset_index()

In [315]:
import pickle
pickle_out = open("dataDevYear.pkl","wb")
pickle.dump(dataYear, pickle_out)
pickle_out.close()

In [321]:
import pickle
pickle_out = open("dataDevItem.pkl","wb")
pickle.dump(dataDev, pickle_out)
pickle_out.close()

In [325]:
import pickle
pickle_out = open("dataFreeYear.pkl","wb")
pickle.dump(dataFreeYear, pickle_out)
pickle_out.close()

## DataFrame Sentimento

In [607]:
dfGamesSentiment=dataGames[['item_id','release_year']]
dfUserSentiment =dataUser[['item_id','user_id','sentiment_analysis']]
dataSentiment = pd.merge(dfUserSentiment,dfGamesSentiment,on='item_id',how='outer')

In [608]:
dataSentiment = dataSentiment.dropna(subset=['user_id'])
dataSentiment = dataSentiment.reset_index(drop=True)

In [609]:
dataSentiment = dataSentiment.dropna(subset=['release_year'])
dataSentiment = dataSentiment.reset_index(drop=True)

In [618]:
dataSentiment.shape

(123660, 4)

In [617]:
dataSentiment.isna().sum()

item_id               0
user_id               0
sentiment_analysis    0
release_year          0
dtype: int64

In [616]:
dataSentiment = dataSentiment.dropna(subset=['sentiment_analysis'])
dataSentiment = dataSentiment.reset_index(drop=True)

In [619]:
import pickle
pickle_out = open("dataSentiment.pkl","wb")
pickle.dump(dataSentiment, pickle_out)
pickle_out.close()

# DataFrame RecomendaciÃ³n

In [628]:
dfGames=dataGames[['item_id','app_name','genres']]
dfUser =dataUser[['item_id']]
dataRecomend = pd.merge(dfUser,dfGames,on='item_id',how='outer')

In [635]:
dataRecomend.shape

(9880489, 3)

In [641]:
dataRecomend.isna().sum()

item_id     0
app_name    0
genres      0
dtype: int64

In [631]:
dataRecomend = dataRecomend.dropna(subset=['app_name'])
dataRecomend = dataRecomend.reset_index(drop=True)

In [637]:
print(f"Numero de filas duplicadas = {dataRecomend.duplicated().sum()}")

Numero de filas duplicadas = 9809786

In [638]:
dataRecomend =dataRecomend.drop_duplicates()

In [642]:
dataRecomend=dataRecomend.reset_index(drop=True)

In [643]:
dataRecomend.shape

(70703, 3)

In [644]:
import pickle
pickle_out = open("dataRecomend.pkl","wb")
pickle.dump(dataRecomend, pickle_out)
pickle_out.close()

# DataFrame RecomendaciÃ³n2

In [4]:
data = pd.merge(dataUser,dataGames,on='item_id',how='outer')

In [5]:
data =data[['user_id','item_id','app_name','metascore']]

In [6]:
data=data.dropna(subset=['metascore'])
data = data.reset_index(drop=True)

In [7]:
data = data.drop(data[data['metascore']==0].index)
data = data.reset_index(drop=True)

In [8]:

data=data.drop_duplicates()
data=data.dropna()
data=data.reset_index(drop=True)

In [9]:
UserRatings = data.pivot_table(index=['user_id'],columns=['item_id'],values='metascore')
UserRatings = UserRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)
UserRatings.head()

item_id,10,1002,10090,10130,10150,10180,10220,102200,102400,102500,...,98800,9900,99120,99200,99300,9940,99400,99700,9980,99900
user_id,,,,,,,,,,,,,,,,,,,,,
--000--,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--ace--,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--ionex--,0.0,0.0,0.0,0.0,0.0,86.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-2SV-vuLB-Kg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,76.0,0.0,0.0,0.0,0.0,0.0
-404PageNotFound-,0.0,0.0,0.0,0.0,0.0,86.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
relation_metrix = UserRatings.corr(method='pearson')
relation_metrix.head()

item_id,10,1002,10090,10130,10150,10180,10220,102200,102400,102500,...,98800,9900,99120,99200,99300,9940,99400,99700,9980,99900
item_id,,,,,,,,,,,,,,,,,,,,,
10,1.000000,0.034937,0.083274,0.049452,0.071848,0.112011,0.039812,0.065044,0.042972,0.054173,...,0.079071,0.038440,0.018864,0.022960,0.090302,0.050415,0.065070,0.092884,0.042053,0.007742
1002,0.034937,1.000000,0.015216,0.032794,0.045702,0.021598,0.005587,0.054807,0.062902,0.024879,...,0.037846,0.014961,0.034548,0.039498,0.043910,0.032501,0.040951,0.034507,0.013167,0.001899
10090,0.083274,0.015216,1.000000,0.055360,0.081324,0.185245,0.037867,0.027525,0.020653,0.058854,...,0.030988,0.020775,0.019294,0.028061,0.042237,0.024938,0.024818,0.025054,0.033990,0.009600
10130,0.049452,0.032794,0.055360,1.000000,0.135158,0.054105,0.061630,0.110782,0.053646,0.107933,...,0.069794,0.030185,0.091164,0.069183,0.081794,0.116258,0.104738,0.072291,0.116045,0.006751
10150,0.071848,0.045702,0.081324,0.135158,1.000000,0.083102,0.080797,0.097701,0.056466,0.131608,...,0.102792,0.025903,0.049470,0.048548,0.087928,0.078086,0.085049,0.095841,0.057721,0.003746

DataFrame : RelationMatrix

In [11]:
import pickle
pickle_out = open("../data/dataRelation.pkl","wb")
pickle.dump(relation_metrix, pickle_out)
pickle_out.close()

In [12]:
dataItemUser = data[['item_id','metascore','user_id']]

In [16]:
print(f"Numero de filas duplicadas = {dataItemUser.duplicated().sum()}")

Numero de filas duplicadas = 0

DataFrame : ItemUser

In [17]:
import pickle
pickle_out = open("../data/dataItemUser.pkl","wb")
pickle.dump(dataItemUser, pickle_out)
pickle_out.close()

DataFrame : Itemname

In [18]:
dataAppName = data[['item_id','app_name']]

In [19]:
dataAppName=dataAppName.drop_duplicates()
dataAppName=dataAppName.dropna()
dataAppName=dataAppName.reset_index(drop=True)

In [20]:
import pickle
pickle_out = open("../data/dataItemName.pkl","wb")
pickle.dump(dataAppName, pickle_out)
pickle_out.close()